<!--activeCalls popup-Start-Here-->
<section class="teamPopup-common Active-call-popup" id="Active-call-popup">
    <div class="activeConferencepopupBody">
       <div class="activeConferenceHeader">
          <button type="button" class="closepop" title="close" data-dismiss="modal" aria-hidden="true"
             onclick="closePopup('Active-call-popup')"></button>
          <h4 class="text-center teamprofilepopupheading" id="active-conference-heading">{{LB02}}</h4>
       </div>
       <div class="activeConferenceInner">
          <div id="noActiveCall" class="noActive-con-Icon hideCls">
             <img src="images/noactiveConference.svg">
          </div>
          <ul id="activeconfactvities" class="activities hideCls activeConferenceHeight" style="list-style-type: none;">
          </ul>
       </div>
       <div class="connection-empty-state recentloadersection" id="active-conf-loader">
          <div id="loading-bar-spinner" class="spinner">
             <div class="spinner-icon"></div>
          </div>
       </div>
    </div>
    </div>
 </section>
 <!--activeConference popup-end-Here-->