



<!--  File Manager file Card  -->

<div class="card-file-manager">
    <div class="card-header">
        <div class="icon-card-header">
            <img src="images/icons/favourite.svg">
        </div>
        <div class="option-card-header">
            <img src="images/icons/fileMangerMore.svg">
        </div>
    </div>
    <div class="card-file-manager-content">
        <img src="images/filetypeicon/ZIP.svg">
    </div>
    <div class="card-footer">
        <span class="cardFoterTitle">Logo.ai</span>
    </div>
</div>




<!-- Recent files row  -->
<div class="cardWrap">
    <div class="cardFileHeader" id="folder-recents">
        Recents
    </div>
    <div id="recents-filemanager" class="row-card-file">

        <!-- Cards to show in recent menu  -->


    </div>
</div>


<!-- my  Folder rows  -->
<div class="cardWrap">
    <div class="cardFileHeader" id="folder-folders">
        Folders
    </div>
    <div id="root-folders-filemanager" class="row-card-file">
        <!--  Folder cards components   -->
    </div>

</div>


<!-- my  Files rows  -->
<div class="cardWrap">
    <div class="cardFileHeader"  id="folder-files">
        Files
    </div>
    <div id="root-files-filemanager" class="row-card-file">
        <!--  file cards components   -->
    </div>

</div>







    <!-- Folder Card -->

    <div class="card-file-manager folderManger">
        <div class="folderCard">
            <div class="folderIcon">
                <img src="images/icons/folder.svg">
            </div>
            <div class="folderLabel">Office Documents</div>
        </div>
    </div>


    <!-- Folder List -->







    <!-- Context Menu -->
    <div class="filesNewTab"><span class="filesMenuIcons"><img src="images/icons/filesadd.svg"></span>NEW
        <ul class="fileMangerDropDown">
            <li><span><img src="images/icons/createFolderIcon.svg"></span>New Folder</li>
            <li><span><img src="images/icons/uploadfileIcon.svg"></span>File Upload</li>
            <li><span><img src="images/icons/uploadfileIcon.svg"></span>Folder Upload</li>
        </ul>
    </div>