<!--activeCalls popup-Start-Here-->
<section class="teamPopup-common" id="gifExperience">
   <div class="gifexperience">
      <div class="gifexperienceContent">
         <span>{{LB01}}</span>
         <p>{{LB02}}<a href="">{{LB03}}</a>  {{LB04}} <a href="">{{LB05}}</a></p>
         <span class="close-invite-Incall" onclick="hideGIFPermission()">
            <img src="images/icons/close.svg" alt="">
         </span>
      </div>
      <div class="gifexperiencebtn">
         <button class="submitButtonGlobal" onclick="setGIFPermission(365, true)">{{BT01}}</button>
         <button class="declineBtnGif" onclick="hideGIFPermission(true)">{{BT02}}</button>
      </div>
   </div>
</section>
<!--activeConference popup-end-Here-->