<!--file-priview popup-start-Here-->
<section class="teamPopup-common" style="display: none;">
    <div class="commoneSec fileSec videoSec">
        <div class="upload-chat-section " style="display: none;">
            <div class="upload-chat-title">
                Upload Files ( <span id="total-file">1</span> )
            </div>
            <ul>
                <li>
                    <div class="uploaded-item-setion">
                        <div class="uploaded-icons-inchat">
                            <div class="uploaded-icons-area">
                                <img src="images/icons/ZIP.svg">
                            </div>
                        </div>
                        <div class="uploaded-name-inchat">
                            <div class="uploaded-label-name-chat">Line 5_2021-11-18.zip</div>
                            <div class="uploaded-label-size-chat">650 Bytes</div>
                        </div>
                        <div class="uploaded-close-inchat">
                            <div class="cancel-upload-area"><img src="images/icons/cancel-request.svg"></div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="main-single-image">
                <img class="main-image-one image-main" src="" style="display:none;">
                <video class="main-image-one video-main" controls="" style="display:none;">
                </video>
            </div>

        </div>
        <div class="file-priview-upload-body" style="display: no1ne;">
            <div class="priview-title">
                Upload (<span id="total-file">1</span>)
            </div>
            <!-- image show -->
            <div class="upload-img-single-show" id="single-image-section">
                <img src="images/user-img.jpg">
                <video class="file-main-img-second" src="images/WhatsApp_Video_2021-10-28_at_21.35.20.mov" controls=""
                    id="single-video" style="width: 100%; display: none;"></video>
            </div>
            <div id="file-preview-scroll-section" class="full-images-file-section" style="display: block;">
                <div class="img-scrolls-section">
                    <section class="all-img-area" id="all-images-section">
                        <div class="file-main-img"><img class="file-main-img-second" title="fb.svg"
                                src="images/user-img.jpg"><img class="cancel-requests"
                                src="images/icons/cancel-request-img.svg"></div>
                        <div class="file-main-img"><img class="file-main-img-second" title="fb.svg"
                                src="images/user-img.jpg"><img class="cancel-requests"
                                src="images/icons/cancel-request-img.svg"></div>
                        <div class="file-main-img"><img class="file-main-img-second" title="fb.svg"
                                src="images/user-img.jpg"><img class="cancel-requests"
                                src="images/icons/cancel-request-img.svg"></div>
                        <div class="file-main-img"><img class="file-main-img-second" title="fb.svg"
                                src="images/user-img.jpg"><img class="cancel-requests"
                                src="images/icons/cancel-request-img.svg"></div>
                        <div class="file-main-img"><img class="file-main-img-second" title="fb.svg"
                                src="images/user-img.jpg"><img class="cancel-requests"
                                src="images/icons/cancel-request-img.svg"></div>
                        <div class="file-main-img"><img class="file-main-img-second" title="fb.svg"
                                src="images/user-img.jpg"><img class="cancel-requests"
                                src="images/icons/cancel-request-img.svg"></div>
                        <div class="file-main-img"><img class="file-main-img-second" title="fb.svg"
                                src="images/user-img.jpg"><img class="cancel-requests"
                                src="images/icons/cancel-request-img.svg"></div>
                        <div class="file-main-img"><img class="file-main-img-second" title="fb.svg"
                                src="images/user-img.jpg"><img class="cancel-requests"
                                src="images/icons/cancel-request-img.svg"></div>
                        <div class="file-main-img"><img class="file-main-img-second" title="fb.svg"
                                src="images/user-img.jpg"><img class="cancel-requests"
                                src="images/icons/cancel-request-img.svg"></div>

                    </section>
                </div>
            </div>
            <!-- send cancel section  -->

            <!-- send cancel section  -->
        </div>
        <div class="saveUpdateCancel uploadBtn fileSecBtn">
            <div class="note-subtitle">Note: You can share up to 10 files at a time.</div>
            <div class="rightUploadBtn">
                <button class="cancelButtonGlobal"> Close</button>
                <button class="submitButtonGlobal"> Send</button>
            </div>
        </div>
    </div>
</section>

<!--file-priview popup-end-Here-->
<!--Add to Call Pop-up Start-here-->
<section class="teamPopup-common" style="display: none;">
    <div class="addtoCallBody">
        <!-- initiate call section  -->
        <div class="newmeetinglinksection">
            <div class="common-modal-header">Add Invitees</div>
            <div class="shareMeeting-label">
                Share this meeting link with the people you want to join the conference.
            </div>
            <div class="shareMeetingUrl">
                <span class="shareMeetingUrl-link"
                    id="personalmeetinglink">https://localhost/melpsingleapp/melp#/modelpopup</span>
                <span id="copyClip">
                    <img src="images/icons/copy-to-clipboard.svg" alt="Copy" class="copy-invite-icon">
                </span>
                <span class="toast-calendar-message" style="display: none;">Link copied in
                    clipboard</span>
            </div>
            <div class="invite-user-border">
            </div>
            <section class="permision-label-section">
                <span class="permision-icon">
                    <img src="images/info-icon-2.svg" alt="" class="">
                </span>
                <span class="permision-label">
                    People you add here will have to take your permission before joining this meeting.
                </span>
            </section>
        </div>
        <div class="header-text" style="display: none;">Add to call</div>
        <div class="users_for_invitation"></div>
        <div class="users_for_invitation_message" style="display:none;">
        </div>
        <div id="searchUserInvieId">
            <input type="text" class="search-class" autocomplete="off" placeholder="Add by name or email address">
            <div class="invite-user-border">
            </div>
            <h1 class="all-contact-title">All contacts</h1>
            <h1>
                <!-- close chat start here -->
                <div class="close-invite-Incall" class="close-chat-invite">
                    <img src="images/icons/serachheaderCancle.svg" class="">
                </div>
                <!-- close chat end here -->
            </h1>
        </div>
        <div class="max-added"></div>
        <div class="addCallList">
            <ul class="listActivities">
                <li>
                    <p class="activity chatfwdactivity" href="javascript:void(0)">
                        <img alt="image"
                            src="https://cdnmedia-fm.melpapp.com/MelpApp/uploads/defaultC.jpg_thumb.jpg?sessionid=fb5eb7c4b83d453abef71befd9356e1b&amp;isthumb=1"><span
                            class="desc chatfwdname">
                            <span class="name-addEx">Yogesh Kumar</span>
                            <span class="coworker-title">CO-WORKER</span><br>
                            <span class="name-addExs">Trainee Recruiter#</span><br>
                            <span class="list_adderses" title="Noida,Uttar Pradesh,India">Noida,UP,IN</span></span>
                        <span class="pull-right">
                            <button class="btncreate">ADD</button></span>
                        </span>
                </li>
                <li>
                    <p class="activity chatfwdactivity" href="javascript:void(0)">
                        <img alt="image"
                            src="https://cdnmedia-fm.melpapp.com/MelpApp/uploads/defaultC.jpg_thumb.jpg?sessionid=fb5eb7c4b83d453abef71befd9356e1b&amp;isthumb=1"><span
                            class="desc chatfwdname">
                            <span class="name-addEx">Yogesh Kumar</span>
                            <span class="coworker-title">CO-WORKER</span><br>
                            <span class="name-addExs">Trainee Recruiter#</span><br>
                            <span class="list_adderses" title="Noida,Uttar Pradesh,India">Noida,UP,IN</span></span>
                        <span class="pull-right">
                            <button class="btncreate">ADD</button></span>
                        </span>
                </li>
                <li>
                    <p class="activity chatfwdactivity" href="javascript:void(0)">
                        <img alt="image"
                            src="https://cdnmedia-fm.melpapp.com/MelpApp/uploads/defaultC.jpg_thumb.jpg?sessionid=fb5eb7c4b83d453abef71befd9356e1b&amp;isthumb=1"><span
                            class="desc chatfwdname">
                            <span class="name-addEx">Yogesh Kumar</span>
                            <span class="coworker-title">CO-WORKER</span><br>
                            <span class="name-addExs">Trainee Recruiter#</span><br>
                            <span class="list_adderses" title="Noida,Uttar Pradesh,India">Noida,UP,IN</span></span>
                        <span class="pull-right">
                            <button class="btncreate">ADD</button></span>
                        </span>
                </li>
                <li>
                    <p class="activity chatfwdactivity" href="javascript:void(0)">
                        <img alt="image"
                            src="https://cdnmedia-fm.melpapp.com/MelpApp/uploads/defaultC.jpg_thumb.jpg?sessionid=fb5eb7c4b83d453abef71befd9356e1b&amp;isthumb=1"><span
                            class="desc chatfwdname">
                            <span class="name-addEx">Yogesh Kumar</span>
                            <span class="coworker-title">CO-WORKER</span><br>
                            <span class="name-addExs">Trainee Recruiter#</span><br>
                            <span class="list_adderses" title="Noida,Uttar Pradesh,India">Noida,UP,IN</span></span>
                        <span class="pull-right">
                            <button class="btncreate">ADD</button></span>
                        </span>
                </li>
                <li>
                    <p class="activity chatfwdactivity" href="javascript:void(0)">
                        <img alt="image"
                            src="https://cdnmedia-fm.melpapp.com/MelpApp/uploads/defaultC.jpg_thumb.jpg?sessionid=fb5eb7c4b83d453abef71befd9356e1b&amp;isthumb=1"><span
                            class="desc chatfwdname">
                            <span class="name-addEx">Yogesh Kumar</span>
                            <span class="coworker-title">CO-WORKER</span><br>
                            <span class="name-addExs">Trainee Recruiter#</span><br>
                            <span class="list_adderses" title="Noida,Uttar Pradesh,India">Noida,UP,IN</span></span>
                        <span class="pull-right">
                            <button class="btncreate">ADD</button></span>
                        </span>
                </li>
                <li>
                    <p class="activity chatfwdactivity" href="javascript:void(0)">
                        <img alt="image"
                            src="https://cdnmedia-fm.melpapp.com/MelpApp/uploads/defaultC.jpg_thumb.jpg?sessionid=fb5eb7c4b83d453abef71befd9356e1b&amp;isthumb=1"><span
                            class="desc chatfwdname">
                            <span class="name-addEx">Yogesh Kumar</span>
                            <span class="coworker-title">CO-WORKER</span><br>
                            <span class="name-addExs">Trainee Recruiter#</span><br>
                            <span class="list_adderses" title="Noida,Uttar Pradesh,India">Noida,UP,IN</span></span>
                        <span class="pull-right">
                            <button class="btncreate">ADD</button></span>
                        </span>
                </li>
                <li>
                    <p class="activity chatfwdactivity" href="javascript:void(0)">
                        <img alt="image"
                            src="https://cdnmedia-fm.melpapp.com/MelpApp/uploads/defaultC.jpg_thumb.jpg?sessionid=fb5eb7c4b83d453abef71befd9356e1b&amp;isthumb=1"><span
                            class="desc chatfwdname">
                            <span class="name-addEx">Yogesh Kumar</span>
                            <span class="coworker-title">CO-WORKER</span><br>
                            <span class="name-addExs">Trainee Recruiter#</span><br>
                            <span class="list_adderses" title="Noida,Uttar Pradesh,India">Noida,UP,IN</span></span>
                        <span class="pull-right">
                            <button class="btncreate">ADD</button></span>
                        </span>
                </li>

            </ul>
        </div>
</section>
<!--Add to Call Pop-up end-here-->
<!--Card pop-up-start-here-->
<section class="teamPopup-common" style="display: none;">
    <div class="contact-other-section ">
        <div class="other-profile-main">
            <div class="other-profile-img">
                <img src="https://cdnmedia-fm.melpapp.com/6077d379-df4a-406a-bb85-c116aa9e8aa0/bb16@1629896302736.jpg?sessionid=92d2ddac9ee24b349ca599efa173446c&amp;isthumb=1"
                    alt="Aman Gupta" class="cardIcon">
            </div>
            <div class="other-profile-details">
                <div class="other-profile-name">Aman Gupta</div>
                <div class="other-profile-designation">sr. software developer</div>
                <div class="other-profile-address" title="Uttar Pradesh, Uttar Pradesh, India"><span
                        class="cityname">noida,
                    </span><span class="statename">up, </span><span class="csortname">IN</span></div>
            </div>
            <div class="other-profile-close">
                <img src="images/icons/cancel.svg">
            </div>
        </div>
        <div class="company-user-profile">
            <div class="skils-section-other">
                <div class="skils-title">
                    COMPANY
                </div>
                <div class="main-skils-area">
                    <span id="otrusrcompany">sysmind tech pvt. ltd</span>
                </div>
            </div>
            <div class="services-section-other">
                <div class="skils-title">
                    DEPARTMENT
                </div>
                <div class="main-skils-area">
                    <span id="otrusrdept">development</span>
                </div>
            </div>
        </div>
        <div class="individual-user-profile">
            <div class="skils-section-other">
                <div class="skils-title">
                    EXPERTISE LEVEL
                </div>
                <div class="main-skils-area">
                    <span id="otrusrexpertise"></span>
                </div>
            </div>
            <div class="services-section-other">
                <div class="skils-title">
                    SERVICES OFFERED
                </div>
                <div class="main-skils-area">
                    <span id="otrusrservice"></span>
                </div>
            </div>
        </div>
        <div class="resume-section-other">
            <div class="skils-title">
                Resume
            </div>
            <div class="resume-title resumeSpacing">1638428272897.docx</div>
            <div class="main-resume-area">
                <div class="resume-title">1638428272897.docx</div>
                <div class="download-resume-other">
                    <img src="images/icons/download_file.svg">
                </div>
            </div>
        </div>
        <!-- call section -->
        <div class="calling-section">
            <div class="other-profile-audio">
                <a data-placement="bottom" title="Audio call">
                    <img src="images/icons/new-one-to-one-audio-call.svg">
                </a>
            </div>
            <div class="other-profile-video">
                <a data-placement="bottom" title="Video call">
                    <img src="images/icons/new-one-to-one-video-call.svg">
                </a>
            </div>
            <div class="other-profile-chat">
                <a data-toggle="dropdown">
                    <img src="images/icons/ic-chat-bubble.svg">
                </a>
            </div>
        </div>
    </div>
</section>
<!--Card pop-up-end-here-->
<!--User Detail Pop up Strat here-->
<section class="teamPopup-common" style="display: none;">
    <div class="userInfoDetails">
        <!--  body section satrt -->
        <div class="userInfoDetailsBody">
            <div class="userInfoDetailHeading">Fill your details</div>
            <div class="userInfoDetailSublebl">Please enter your name and email Id </div>
            <div class="userInfoDetailTempInput">
                <input type="text" class="userDetailInput" name="" placeholder="Please Enter Your Name">
            </div>
            <div class="temp-input-section">
                <input type="text" class="userDetailInput" name="" placeholder="Please Enter Your Email">
            </div>
            <!--cacel-save button-->
            <div class="saveUpdateCancel">
                <button class="cancelButtonGlobal"> Cancel</button>
                <button class="submitButtonGlobal"> Submit</button>
            </div>
            <!--cacel-save button-->
        </div>
        <!--  body section  end  -->
    </div>
</section>
<!--User Detail End up Strat here-->
<!--User Detail VERIFICATION CODE Strat Here-->
<section class="teamPopup-common" style="display: none;">
    <div class="external-main-section">
        <div class="temp-inner-sections">
            <div class="userDetailHeading">Verification Code</div>
            <div class="temp-input-section">
                <div class="verif-label">
                    Please enter the verification code <br>
                    sent on your email Id
                </div>
                <div class="verif-sublabel">
                    Enter Verification Code
                </div>
                <div class="otpContainer">
                    <input type="text" class="otp-inputs" id="1" name="otpnumber[]" autocomplete="off" maxlength="1"
                        placeholder="*" autofocus="">
                    <input type="text" class="otp-inputs" id="2" name="otpnumber[]" autocomplete="off" maxlength="1"
                        placeholder="*">
                    <input type="text" class="otp-inputs" id="3" name="otpnumber[]" autocomplete="off" maxlength="1"
                        placeholder="*">
                    <input type="text" class="otp-inputs" id="4" name="otpnumber[]" autocomplete="off" maxlength="1"
                        placeholder="*">
                    <input type="text" class="otp-inputs" id="5" name="otpnumber[]" autocomplete="off" maxlength="1"
                        placeholder="*">
                    <input type="text" class="otp-inputs" id="6" name="otpnumber[]" autocomplete="off" maxlength="1"
                        placeholder="*">
                </div>
                <div class="resend">
                    <span class="verif-sublabel">
                        Didn't get the code?
                    </span>
                    <span class="resend-color">Resend</span>
                </div>
            </div>
            <!--cacel-save button-->
            <div class="saveUpdateCancel">
                <button class="cancelButtonGlobal"> Cancel</button>
                <button class="submitButtonGloball"> Submit</button>
            </div>
            <!--cacel-save button-->
        </div>
    </div>
</section>
<!--User Detail VERIFICATION CODE End Here-->




  <!-- Report abuse for this person start -->
 <section class="teamPopup-common hideCls">
    <div class="blockUserPopup">
       <!-- block inside start here -->
       <div class="blockUserInside ">
          <div class="blockHeader">
             <div class="blockUserHeadeing">Do you want to block Cole Spencer ?</div>
             <div class="blockUserLabel ">Blocked contacts cannot call or send you message.<br>
                This contact will not be notified.
             </div>
             <div class="reportPerson">
                <label>Report abuse for this person</label>
                <label class="toggle-switch">
                <div class="switch_box box_1">
                   <input type="checkbox" class="switch_1">
                </div>
             </div>
          </div>
        
          <div class="reportPersonAbsue">
             <div class="reportPersonFormGroup">
                <div class="reportSlots">
                   <ul>
                      <li class="reportAvailbe">
                         <span class="reportSlotsSelect"><i class="reportsloticon"></i>Violation of company policies</span>
                      </li>
                      <li class="reportAvailbe active">
                         <span class="reportSlotsSelect"><i class="reportsloticon"></i>Inappropriate behavior</span>
                      </li>
                      <li class="reportAvailbe">
                         <span class="reportSlotsSelect"><i class="reportsloticon"></i>Security concerns</span>
                      </li>
                   </ul>
                </div>
                <div class="resportMsgBox">
                   <textarea class="resportMsgBoxMsg" rows="4" cols="50">Include details about the concern</textarea>
                </div>
                <div class="protectPrivacy">
                   To protect your privacy, please don’t include sensitive information. <a href="https://www.melp.us/privacy-policy" target="_blank">Learn more</a>
                </div>
             </div>
          </div>
  
          <div class="blockUserBtn">
             <button class="cancelButtonGlobal">cancel</button>
             <button class="submitButtonGlobal">Report and Block</button>
          </div>
       </div>
       <!-- block inside end here -->
    </div>
 </section>
 <!-- Report abuse for this person end -->


    
