<section class="teamPopup-common" id="notifyData">
    <div class="meetingAlerts">
        <div class="meetingAlertsModalPopupBody">
            <div class="meetingAlertsHeader">
                <div class="meetingAlertsheading">
                    <h2>{{LB59}}</h2>
                </div>
                <div class="meetingAlertsClose" onclick="hideNotifyDataPopup()">
                    <span class="meetingAlertsClose" title="{{TT01}}"><img src="images/cancel-modal.svg"></span>
                </div>
            </div>
            <div class="meetingAlertPanel">
                <section class="mmeetingAlertType" id="notifyDataInner">
                    <ul class="meetingAlertinner"></ul>
                </section>
                <div class="meetingEmtyNotification hideCls" id="notifyMsgEmptyState">
                    <img src="images/meetingNotify.svg">
                    <h2>{{LB60}}</h2>
                    <p>{{LB61}}</p>
                </div>
            </div>

        </div>
        <div class="connection-empty-state recentloadersection" id="notifyDataLoader">
            <div id="loading-bar-spinner" class="spinner">
                <div class="spinner-icon"></div>
            </div>
        </div>
</section>