<!--notify-permission start Here-->
<section class="teamPopup-common" id="notify-permission">
    <div class="notification-box-popup">
        <div class="notification-box-popup-body">
            <div class="notification-inner-div">
                <span class="belnotification-icon">
                    <img src="images/icons/notification-1.svg" alt="Notification" title="Notification">
                </span>
                <span class="belnotification-title">{{LB01}}</span>
                <section class="notification-alignment">
                    <div class="belnotification-subtitle">
                        {{LB02}}
                    </div>
                    <div class="notification-i-mi">
                        <img src="images/link.jpg" alt="Link" title="Link">
                    </div>
                    <div>
                        <img src="images/notification-allow.jpg" alt="Notification" title="Notification">
                    </div>
                    <div class="text-right allow-btn">
                        <button class="submitButtonGlobal" onclick="closeFCMNotification('notify-permission')">OK</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<!--notify-permission end Here-->