<!--QUICK MESSAGE-Start-Here-->
<section class="teamPopup-common hidePopup" id="quickMsg">
    <div class="qucik-main-section">
       <!--  body section satrt -->
       <div class="create-quick-title">{{LB69}}</div>
       <div class="quick-msg-section">
          <textarea placeholder="{{PH02}}" onkeyup="isValidateButton('quickMessage')" class="quick-msg"
             id="quickMsgInputField"></textarea>
       </div>
       <div class="saveUpdateCancel">
          <button class="cancelButtonGlobal" onclick="closePopup('quickMsg')"> {{BT03}}</button>
          <button class="submitButtonGlobal inActiveBtn" id="sendQuickMessage"> {{BT02}}</button>
       </div>
       <!--  body section  end  -->
    </div>
 </section>
 <!--QUICK MESSAGE-End-Here-->