<section id="resetPassword-template" class="forgot-form-new box-forgot login-common-box-style forgetWidth">
    <input type="hidden" id="uuId">
    <input type="hidden" id="userId">
    <input type="hidden" id="resetEmail">
    <div class="row">
        <div class="col-sm-12">
            <span class="login-logo-commmon ">
                <img src="images/melpapp-logo.svg" class='login-logo' importance="low" loading="lazy">
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="forgot-text-title">{{LB01}}</span>
            <div class="timer-data-cont">
                <span class="timer-data" id="timer"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12 text-input-div">
                <div class="email-id-signUp position-signup-new new-sign-in-section">
                    <label>
                        <input type="password" id="newPassword" name="newPassword" placeholder="{{LB02}}"
                            class="forgetInput" onkeyup="isValidateResetPassword()">
                        <span>{{LB02}}</span>
                    </label>
                    <!-- error msg full name start Darshan & Ram -->
                    <!-- <div class="tooltips-fullname tooltips-common-error" id="newPasswordError" style="display:none">
                        <div class="tooltipTextFullName">
                            <div class="subtitle-error-fullName">
                                Invalid password. Please, check out the password requirements.
                            </div>
                            <div class="tringle-NameEmail">
                                <img src="images/triangle.svg" class="tringle-arrow" loading="lazy">
                            </div>
                        </div>
                    </div> -->
                    <!-- error msg full name end -->
                    <div class="newEyeIcon" onclick="showPassword('newPassword')" loading="lazy" id="newPasswordEye">
                    </div>
                    <div id="passwordHint" class="tooltips-cont tootips_position" style="display:none;">
                        <div class="accountSettingNewPass commonPass">
                            <ul>
                                <span class="passwordHead">{{PDH}}</span>
                                <li class="lengthChar">{{PDH01}}</li>
                                <li class="upperChar">{{PDH03}}</li>
                                <li class="lowerChar">{{PDH04}}</li>
                                <li class="numberChar">{{PDH02}}</li>
                                <li class="specialChar">{{PDH05}}</li>
                                <!-- <li class="repeatChar">{{PDH06}}</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="email-id-signUp position-signup-new new-sign-in-section">
                    <label>
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="{{LB03}}"
                            class="forgetInput" onkeyup="isValidateResetPassword()">
                        <span>{{LB03}} </span>
                    </label>
                    <!-- error msg full name start Darshan & Ram -->
                    <div class="tooltips-fullname tooltips-common-error" id="confirmPasswordError" style="display:none">
                        <div class="tooltipTextFullName">
                            <div class="subtitle-error-fullName">
                                Invalid password. Please, check out the password requirements.
                            </div>
                            <div class="tringle-NameEmail">
                                <img src="images/triangle.svg" class="tringle-arrow" loading="lazy">
                            </div>
                        </div>
                    </div>
                    <!-- error msg full name end -->
                    <div class="newEyeIcon" onclick="showPassword('confirmPassword')" loading="lazy"
                        id="confirmPasswordEye">
                    </div>
                </div>
                <div class="tooltips-fullname tooltips-common-error" id="newPasswordError" style="display:none">
                    <div class="tooltipTextFullName">
                        <div class="subtitle-error-fullName">
                            Invalid Password, checkout PASSWORD REQUIREMENTS.
                        </div>
                        <div class="tringle-NameEmail">
                            <img src="images/triangle.svg" class="tringle-arrow" loading="lazy">
                        </div>
                    </div>
                </div>
                <div class="resetPasswordCheckBox">
                    <input type="checkbox" id="expireSessions" checked disabled> {{LB04}}
                </div>
                <div class="saveButton">
                    <button id="resetPasswordId" type="button" disabled="" class="disableCursor resetPasswordCustom"
                        onclick="submitResetPassword();">{{BT01}}</button>
                </div>
            </div>
        </div>
    </div>
</section>