<!-- Suggestion Page Start-->
<section class="freelance-invite" id="suggestionpage">
    <section class="freelance-invite-section" id="suggestionlist">
        <div class="freelance-invite-body">
            <div class="row">
                <div class="col-sm-12 text-center" style="padding-top:15px">
                    <span class="login-logo-commmon-suggation">
                        <img src="images/melpapp-logo.svg" class='login-logo'>
                    </span>
                    <div class="logo-m-b"></div>
                </div>
            </div>
            <div class="invite-main-title">
                {{LB01}}
                <span class="suggestion-skip">
                    <button onclick="goToDashboard();" class="cancelButtonGlobal logout-text" style="display: block;">{{BT01}}</button>
                </span>
            </div>
            <p class="freelance-invite-subtile">
                {{LB02}} (<span id="total-invite"></span>) {{LB03}}<br />
                {{LB04}}
            </p>

            <!-- freelance user card -->
            <section class="freelnce-scroll-section" id="scrollsuggestion">
                <div class="freelance-common-width">
                    <div class="card-main-section allClearfixWidth" id="singlesuggestion"></div>
                </div>
            </section>
        </div>
    </section>
</section>
<!-- Suggestion Page Ends -->