<!-- Do you want to unblock start -->
<section class="teamPopup-common" id="unBlockPopup">
   <div class="blockUserPopup unblockUserPopup">
   <!-- block inside start here -->
   <div class="blockUserInside ">
       <div class="blockHeader">
           <div class="blockUserHeadeing selectReasonHeader"><span class="unblockUser">{{LB13}}</span> <span class="coleSpencer" id="name"></span>?</div>
       </div>
       <div class="blockUserBtn">
           <button class="cancelButtonGlobal" onclick="hideUserBlockPopUp('unBlockPopup')">{{BT01}}</button>
           <button class="submitButtonGlobal" id="blockBtn">{{BT04}}</button>
       </div>
   </div>
   <!-- block inside end here -->
   </div>
</section>
<!-- Do you want to unblock end -->