<!--Admin Domain Verification Screen-->
<div class="adminSelectDomain">
    <div class="adminSelectDomainWrap">
        <div class="adminSelectDomainTop">
            <h2>Select the Domain</h2>
            <p>You had logged in to these account recently:</p>
        </div>
        <div class="loggedAccount">
            <div class="loggedAccountRecently">
                <div class="loggedrecently">
                    <div class="loggedLogo">
                        <img src="images/recentlyLogo1.png">
                    </div>
                    <div class="loggedrecentlyContent">
                        <h2>SYSMIND TECH PRIVATE LIMITED</h2>
                        <p>sysmind-tech.melpapp.us</p>
                    </div>
                </div>
            </div>
            <div class="loggedAccountRecently">
                <div class="loggedrecently">
                    <div class="loggedLogo">
                        <img src="images/recentlyLogo2.png">
                    </div>
                    <div class="loggedrecentlyContent">
                        <h2>SYSMIND TECH PRIVATE LIMITED</h2>
                        <p>sysmind-tech.melpapp.us</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>