<div class="adminDashboardWraper">
    <!--admin panel rigt bar start-->
    <div class="adminRightBar" id="ad_rightPanel">
    </div>
    <!--admin Dashboard end-->
    <div class="adminSelected hideCls" id="adminSelected">
        <div class="adminPanlePopupSideBarWrap">
            <ul class="adminPopupSidebar">
                <li>
                    <div class="adminPopupSidebarWrap">
                        <div class="adminPopupSidebarList">
                            <div class="adminPopupSidebarListUserIcon">
                                <img src="https://cdnmedia-fm.melpapp.com/a1c6f8bf-b84b-4a98-9cf2-b44e6d266890/1a53@1628704503938.jpg"
                                    class="common-icons-size vertical-m" alt="AD" title="Learn more about Aakash Dubey">
                            </div>
                            <div class="adminPopupSidebarCommonUserList">
                                <div class="adminUserTitle">
                                    <span class="adminListTitle">Aakash Dubey</span>
                                </div>
                                <div class="adminListUserProfile">
                                    <span class="adminListUserProfileLabel">benjamin_melp@sysmind.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="adminRolesProfile">
            <div class="adminRolesProfileHeader">
                <span>Roles and Profile</span>
            </div>
            <div class="adminProfile">
                <div class="adminRole">
                    <p>Make Admin</p>
                </div>
                <div class="adminRole">
                    <p>Edit Profile</p>
                </div>
                <div class="adminDelteBtn">
                    <button class="submitButtonGlobal">Delete account
                </div>
            </div>
        </div>
    </div>
    <!--admin Right bar-->
    <div class="modal-scrollable" id="ad_model_content"></div>
</div>