<div class="adminDomainVerifiation">
   <div class="adminDomainVerifiationWrap">
      <div class="adminDomainOwnerShip">
         <!-- <div class="adminDomainOwnerShipTop">
            <h3>Verify Domain Ownership</h3>
            </div> -->
         <div class="adminDomainVerification">
            <div class="adminDomainVerificationWraper adVerifyContainer">
               <div class="domainVerifiationPopup">
                  <div class="navigation_menu" id="navigation_menu">
                     <ul class="navigation_tabs" id="navigation_tabs">
                        <li class="tab_inactive">
                           <a href="#">Domain Details</a>
                        </li>
                        <li class="tab_active">
                           <a href="#">Domain Verification</a>
                        </li>
                        <li class="tab_disabled">
                           <a href="#">Verification Status</a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="adminDomaiContainer adRowPanel">

                  <div class="adDomainColumLeft">
                     <div class="adDomainText">
                        <h3>Here’s How this work </h3>
                        <p>Before you start using MelpApp Admin Console, We need to do a quick check to make sure you
                           own the domain <strong>(domain name)</strong></p>
                     </div>
                     <div class="adminOwnnerShipInside">
                        <div class="adLeftColumText">
                           <h4>Text Verification</h4>
                           <p>Copy the TXT record below into the DNS configuration for<strong
                                 class="daomainNameWeight">domain name</strong> </p>
                           <input type="text" class="adminOwnerInput"
                              placeholder="melp-admin-verification.jhguyaeskjckjdsjfljfd">
                           <button class="adminVerifictionBtn" type="text"><span>COPY</span></button>
                        </div>
                        <div class="addomainExample">
                           <p>Please <strong>verify</strong> below. If you can’t complete the verification at the
                              moment, you can press<strong> verify later</strong> and return here by selecting <strong>
                                 admin console</strong> from the left panel of dashboard.</p>
                        </div>

                     </div>
                  </div>
                  <div class="domainVerificationRight">
                     <img src="images/admin/verification.png">
                  </div>
               </div>
               <div class="adminVerifyBtn">
                  <button class="adminVerifyButton" title="Verify later">Verify Later </button>
                  <button class="adminVerifyButtonVerify" title="Verify">Verify Now </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>