/* middle panel */
.teamsGroups {
    width: 100% !important;
}

.textempty-h {
    margin-left: 1rem;
    width      : 98% !important;
}

/* create team popup */
.cancel-topic {
    width  : inherit !important;
    padding: 1rem !important;
}

/* Submenu on profile pic */
ul.sub-menu.recent-sub-menu li span:first-of-type {
    width: 88%;
}

.profileSubMenu {
    width: 23.7rem !important;
}

.copyIcon {
    margin-right: 1rem !important;
}

/* forward popup */
#shareForwardButton {
    padding: 1rem !important;
}

/* sidebar */
.navSideBar {
    /* width: 10rem !important; */
}

.sideBarHeadrer img {
    width: 80% !important;
}

.navbarHeader {
    /* padding-left: 10rem !important; */
}

.page-content {
    /* margin-left: 10rem !important; */
}

/* global search */
ul.globalHeaderSearcTabbing li:first-of-type {
    margin: 0 0 0 0 !important;
}

ul.globalHeaderSearcTabbing li {
    padding: 0px 1rem !important;
    margin : 0px 0 0 19px !important;
}

/* invite popup */
.invitePopupBottominput {
    padding-right: 7rem !important;
}


/*Language-start-here*/
@media (min-width: 768px) {
    .middleIcons {
        max-width: max-content;
    }

    .search-section {
        width    : max-content;
        min-width: max-content;
    }

    .filtert-common-icon {
        padding: 4.7rem 2.5rem 2.7rem !important;
    }

    .main-section-body {
        /* padding-left: 10rem !important; */
    }

    .navbar-content {
        /* padding-left: 1.55%; */
    }

    ul.globalHeaderSearcTabbing li {
        margin: 0px 0 0 5px !important;
    }

    .uloadedFilesView {
        float     : none !important;
        display   : flex;
        min-width : max-content;
        background: #fff !important;
        padding   : 0px !important;
    }

    .uloadedFilesView span.fileExection {
        padding-left: 1rem;
    }

    .accountSettingNewTabs ul li {
        font-size: 1.2rem !important;
    }

    .filemangerTab {
        padding-left: 1rem !important;
    }

    .invitePopupBottomPlusIcon {
        /* height: 3.8rem !important; */
    }

    .sidebar-expanded {
        /* min-width: 9.5rem !important; */
    }

    .accountSettingNewTabs ul li {
        text-transform: uppercase;
    }

    .common-sort-dropdown .filter-list-item li {
        padding: 1.6rem 0rem 1.6rem 1.2rem;
    }

    .new-sign-in-section label {
        position: absolute;
    }
    #forgot-template .new-sign-in-section label{
        position: unset !important;
    }
    #confirmPassword {
        overflow-wrap: break-word;
        max-width    : 85%;
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
        width        : 100%;
    }
    .upload-div {
        width: max-content;
    }
    .upload-div img {
        right: -0.7rem;
    }
    .link {
        text-transform: lowercase;
      }
      .link:first-letter,
      .link:first-line {
        text-transform: capitalize;
      }
      .contactDirectoryLi .common-sort-dropdown {
        width: 25.2rem !important;
      }
      .recentMeetingJoin{
        top: 50% !important;  
      }
      .invites-label {
        line-height: 2.86rem !important;
      }
      .add-invite-title {
        justify-content: flex-start !important;
        align-items: center !important;
      }
      .add-invite-icon {
        position: absolute;
        top: 30%;
        right: 1%;
    }
    .invitie-padding {
        position: relative;
    }
    .upload-name {
        width: auto;
        
    }
    .upload-icon-name{
        position: relative;
        top: 0.2rem;
    }
}

.page-content {
    margin-left: 8.8rem;
}
.navbarHeader{
    padding-left: 8.8rem;
}
.navSideBar{
    width: 8.8rem;
}
.calendarTopStrip{
    margin-right: 10rem !important;
}
.calenderContainer{
    flex-basis: calc(71.8% - 3.3rem) !important;
}
#invite-contact .myNetworkRow.myImortContact,
#invite-contact .myNetworkRow.myNetworkTabs{
    padding: 0.7rem 3rem 0.7rem 1rem;
}
.fileMangerRight{
    width: 12.5rem;
}
.meeting-popup-body-section{
    padding-right: 7.7rem !important;
}
.phoneCode {
    flex-basis: unset !important;
}
/*Language-end-here*/


#deleteVerifyPopup .external-main-section, #verificationCodePopup .external-main-section {
    width: max-content !important;
    max-width: 50rem;
}
.sign-up-flow .nav.navbar-nav.navbar-nav-form {
    width: auto !important;}
    .invitePopupBottominput {
        height: auto  !important;
    }
    
    
    .invitePopupBottomPlusIcon {
        margin-left: 1rem  !important;
    }
    .invitePopupBottom .add-invite-main {
        width: 30.7% !important;  
    }
    #inviteCoworkerEmail .invite-full-name {
        max-width: 75% !important;
    }
    .sign-up-flow .nav.navbar-nav.navbar-nav-form {
        padding-top: 0px !important;
    }
    .countryNumber input.accountSettingInformInput {
        border: none !IMPORTANT;
        max-width: 12rem;
        padding-left: 3% !important;
        padding-right: 2% !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: inline-block !important;
    }